.checkout{
  &__toggle{
    border: none!important;
    width: 100% !important;
    color: $colorText!important;
    font-size: 16px!important;
  }
}
.form {
  display: flex;
  padding-left: 5.5rem;
  &__01, &__02 {
    display: flex;
    flex-direction: column;
    h2, h3 {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      color: $colorIcon;
      font-size: 13px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  &__01{
    :nth-child(3), :nth-child(4) {
      color: $colorText;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
    :nth-child(6){
      margin-bottom: 3rem;
    }
    :nth-child(7){
      margin-bottom: 0;
    }
    :nth-child(9) input{
      width: 180px;
      height: 50px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 2rem;
    }
  }
  &__02 {
    padding-left: 20rem;
    span{
      color: #ff0d0d;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
    }
    :nth-child(4) input, :nth-child(6) input{
      width: 390px;
      height: 45px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
    }
    :nth-child(7){
      color: #ff0d0d;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
    }
    :nth-child(8) input{
      width: 180px;
      height: 50px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
    :nth-child(8){
      display: flex;
      p {
        padding-right: 3rem;
        padding-top: 6rem;
        margin-bottom: 6rem;
      }
    }
  }
}
input[type=checkbox]:checked ~ .form {
  display: none;
}
