.subscribeWrap {
  margin-top: 100px;
  height: 438px;
  background: url(img/subscribe.jpg) no-repeat center bottom, #ccc;
  background-blend-mode: overlay;
  background-size: cover;
  .subscribe {
    display: flex;
    height: inherit;
  }
}
.subscribeReview {
  @extend %flex-center-vertical;
  width: calc(100% - 1px);
  &Unit {
    width: 500px;
    @extend %flex-space-between;
    &Left {
      width: 83px;
    }
    &Right {
      width: 386px;
      blockquote {
        margin: 0;
        font-size: 16px;
        font-style: italic;
        line-height: 26px;
        font-weight: 700;
      }
      .reviewName {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        color: #f16d7f;
      }
      .reviewFrom {
        color: #222224;
        font-size: 12px;
        font-weight: 300;
      }
      .reviewsSwitch {
        width: 140px;
        @extend %flex-space-between;
        margin-top: 40px;
        div {
          width: 38px;
          height: 4px;
          background-color: #d6d6d6;
          &:hover {
            background-color: #f16d7f;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.subscribeDivider {
  width: 1px;
  background: #e3e3e3;
}
.subscribeRight {
  width: calc(100% - 1px);
  @extend %flex-center-horizon;
  flex-direction: column;
  align-items: center;
  .subscribeRightHead {
    font-size: 24px;
    text-transform: uppercase;
    color: #222224;
  }
  .subscribeRightText {
    margin: 10px 0 35px;
  }
  .subscribeForm {
    height: 46px;
    input {
      height: inherit;
      width: 334px;
      border: none;
      outline: none;
      padding: 0 28px;
      font-weight: 700;
      background-color: #e1e1e1;
      border-top-left-radius: 23px;
      border-bottom-left-radius: 23px;
      float: left;
    }
    button {
      background-color: #f16d7f;
      border-top-right-radius: 23px;
      border-bottom-right-radius: 23px;
      color: white;
      border: none;
      height: inherit;
      padding: 0 20px;
      outline: none;
      cursor: pointer;
    }
  }
}

.footer {
  margin-top: 10rem;
  @extend %flex-space-between;
  align-items: flex-start;
  &__brand {
    width: 43rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
    color: $colorIcon;
    &__text1 {
      margin: 3rem 0;
    }
  }
  &__column {
    padding-top: 1.5rem;
    h2 {
      margin: 0 0 3rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: $colorSite;
    }
    a {
      display: block;
      color: $colorIcon !important;
      font-size: 1.6rem;
      text-decoration: none;
    }
    a:hover {
      color: $colorSite;
    }
    a:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }
}

.copyrights {
  margin-top: 10rem;
  height: 8rem;
  background: $colorBackground - #111;
  &__wrap {
    color: $colorIcon;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  &__left {
    color: $colorIcon;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
  }
  &__right {
    @extend %flex-space-between;
    width: 20rem;
    a {
      color: inherit !important;
    }
    i {
      width: 3.2rem;
      height: 3.2rem;
      background: $colorTextWhite;
      @extend %flex-center-horizon;
      flex-direction: row;
      align-items: center;
      text-align: center;
      font-size: 1.6rem;
    }
    i:hover {
      color: $colorTextWhite !important;
      background: $colorSite;
    }
  }
}
