.newArrivals {
  height: 14.8rem;
  background-color: $colorBackground;
  &__decor {
    padding-top: 6.5rem;
    @extend %flex-center-vertical;
    justify-content: space-between;
    h1 {
      color: $colorSite;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 2rem;
      text-transform: uppercase;
    }
    nav a {
      text-decoration: none;
      color: $colorIcon;
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 400;
      text-transform: uppercase;
      &:hover {
        color: $colorSite;
      }
    }
    nav a:last-child {
      color: $colorSite;
    }
    nav span {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.shoppingCart {
  margin-top: 10rem;
}
.shoppingGridRowHead {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: $colorText;
  > div:first-child {
    width: 46rem;
  }
  > div:not(:first-child) {
    @extend %flex-center-horizon;
    align-items: center;
  }
  .productPrice {
    width: 7.8rem;
  }
  .productShipping {
    width: 6.2rem;
  }
  .productSubtotal {
    width: 6.6rem;
  }
  .productAction {
    width: 5rem;
  }
}
.shoppingGridRow {
  @extend %flex-space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid #eaeaea;
  margin-top: 2rem;
  color: $colorIcon;
  > div:first-child {
    width: 46rem;
  }
  > div:not(:first-child) {
    @extend %flex-center-horizon;
    align-items: center;
  }
  .productCart {
    display: flex;
    img {
      margin-right: 2rem;
    }
    .productDetails {
      @extend %flex-space-between;
      flex-direction: column;
      padding-top: 1.3rem;
      padding-bottom: 2.2rem;
      .productName {
        margin-top: 0;
        margin-bottom: auto;
        font-size: inherit;
        font-weight: inherit;
      }
      .productColor {
        font-weight: 300;
        .productParam {
          font-weight: 400;
        }
      }
      .productSize {
        font-weight: 300;
        .productParam {
          font-weight: 400;
        }
      }
    }
  }
  .productQty {
    width: 6.8rem;
    input {
      width: 5.4rem;
      border: 1px solid $colorBackground;
      text-align: center;
      height: 3rem;
    }
  }
}

.shoppingBtnsWrap {
  @extend %flex-space-between;
  margin-top: 44px;
  button {
    padding: 20px 40px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
  }
  :hover {
    color: $colorTextWhite ;
    background-color: $colorSite ;
  }
}

.checkOutWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
  align-items: flex-start;
}
.shippingAddressWrap {
  width: 355px;
  h2 {
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 16px;
  }
  select, input {
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    width: 100%;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  button {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    background: white;
    font-family: inherit;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 11px;
  }
}
.couponDiscountWrap {
  width: 355px;
  h2 {
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 16px;
  }
  label {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  input {
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    width: 100%;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 25px;
  }
  button {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    background: white;
    font-family: inherit;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 11px;
  }
}
.grandTotalWrap {
  width: 360px;
  background-color: #f5f3f3;
  padding: 40px;
  box-sizing: border-box;
  .grandTotalSub {
    margin-bottom: 14px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    .grandTotalSub span:last-child {
      margin-left: 15px;
    }
  }
  .grandTotalGrand {
    text-align: right;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 17px;
    span:last-child {
      color: #f16d7f;
      margin-left: 20px;
    }
  }
  button {
    width: 100%;
    background-color: #f16d7f;
    padding: 20px 38px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: none;
  }
}

